In [167]:
import pandas as pd

data1 = pd.read_csv('./data/data1.csv')
data2 = pd.read_csv('./data/data2.csv')

In [168]:
uptdata2 = data2[['BPLCNM','UPTAENM']]
uptdata2.groupby('UPTAENM').BPLCNM.count()

UPTAENM
고속도로            9
공항             18
과자점          8681
관광호텔           80
극장             19
기타              2
기타 휴게음식점    14724
김밥(도시락)         1
다방          17695
단란주점            1
떡카페           136
룸살롱             1
백화점          2633
아이스크림         426
유원지            59
일반조리판매      18605
전통찻집          340
철도역구내         436
커피숍         26772
키즈카페          129
패스트푸드        7737
편의점          9194
푸드트럭          952
한식              2
호프/통닭           1
Name: BPLCNM, dtype: int64

In [169]:
upt2 = data2.UPTAENM.unique()
upt2

array(['기타 휴게음식점', '일반조리판매', '커피숍', '철도역구내', '편의점', '아이스크림', '백화점',
       '패스트푸드', '유원지', '푸드트럭', '떡카페', '다방', '전통찻집', '극장', '관광호텔', '과자점',
       '키즈카페', '공항', '고속도로', '한식', '룸살롱', '기타', '김밥(도시락)', '호프/통닭',
       '단란주점'], dtype=object)

In [170]:
upt2_coffeeshop = data2.loc[data2.UPTAENM == upt2[2], :]
upt2_coffeeshop.columns
upt2_coffeeshop = upt2_coffeeshop.drop(columns="Unnamed: 0")
upt2_coffeeshop = upt2_coffeeshop.reset_index(drop=True)
upt2_coffeeshop

,APVPERMYMD,TRDSTATEGBN,TRDSTATENM,DCBYMD,SITEAREA,RDNWHLADDR,BPLCNM,UPTAENM,X,Y
0,20141022,1,영업/정상,NaN,34.00,"서울특별시 용산구 원효로 268, 지상1층 101호 (원효로1가)",카페맑음,커피숍,197308.865165,448745.657721
1,20110314,1,영업/정상,NaN,74.50,"서울특별시 금천구 남부순환로 1428, 101호 (독산동,지오프라자)",더치앤빈 신림푸르지오점,커피숍,191911.448935,442043.878228
2,20101213,3,폐업,20201204.0,103.52,"서울특별시 서초구 신반포로47길 124, 1층 (잠원동, 근생빌딩 B동 )",(주)엑스커피 (탐앤탐스 신사1호점),커피숍,201591.604136,445934.693594
3,20201204,1,영업/정상,NaN,28.94,"서울특별시 서초구 강남대로 455, 지하1층 B121호 (서초동, 강남태영데시앙루브)",CAFE HO,커피숍,202100.548019,444515.155344
4,20201204,1,영업/정상,NaN,36.30,"서울특별시 영등포구 여의나루로 42, 여의도종합상가 1층 104호 (여의도동)",브루다 여의도역,커피숍,193306.330044,446582.782311
...,...,...,...,...,...,...,...,...,...,...
26767,20140527,1,영업/정상,NaN,NaN,"서울특별시 종로구 자하문로24길 20, 지하1층 (효자동)",다톡다톡 카페,커피숍,197368.982810,453418.244590
26768,20101005,1,영업/정상,NaN,257.11,"서울특별시 종로구 동숭길 113 (동숭동,(1층))",타셴,커피숍,200247.165180,453407.180093
26769,20101012,1,영업/정상,NaN,NaN,"서울특별시 종로구 평창31길 8 (평창동,(1층))",카페 빈,커피숍,197757.335862,456605.275636
26770,20110323,1,영업/정상,NaN,113.65,"서울특별시 종로구 대학로 101 (연건동,서울대학교병원 암병원(지하2층))",아로마띠꼬,커피숍,199824.095975,452984.360451
26771,20110421,1,영업/정상,NaN,NaN,"서울특별시 종로구 지봉로 89 (창신동,(지상1층))",작은나무,커피숍,201271.380167,452868.306560

In [171]:
uptdata1 = data1[['BPLCNM','UPTAENM']]
uptdata1.groupby('UPTAENM').BPLCNM.count()

UPTAENM
간이주점                    1
감성주점                  319
경양식                 46633
기타                  28549
기타 휴게음식점                4
김밥(도시락)              1454
까페                   7931
냉면집                    86
다방                      3
도매업(유통)                 1
라이브카페                 234
룸살롱                     2
복어취급                  108
분식                  78247
뷔페식                  2754
식육(숯불구이)             1340
식품등 수입판매업               1
식품소분업                   1
식품제조가공업                 1
외국음식전문점(인도,태국등)      1517
이동조리                  102
일반조리판매                  6
일식                  16719
전통찻집                  831
정종/대포집/소주방          12743
제과점영업                   1
중국식                 14193
출장조리                  355
커피숍                     5
키즈카페                   90
탕류(보신용)               408
통닭(치킨)               9582
패밀리레스트랑               176
패스트푸드                3927
한식                 194359
호프/통닭               33987
회집                   1148
횟집                    209
Name: BPLCNM, dtype: int64

In [172]:
upt1 = data1.UPTAENM.unique()
upt1

array(['일식', '한식', '기타', '호프/통닭', '분식', '중국식', '뷔페식', '경양식', '정종/대포집/소주방',
       '외국음식전문점(인도,태국등)', '김밥(도시락)', '패밀리레스트랑', '패스트푸드', '키즈카페', '횟집',
       '통닭(치킨)', '복어취급', '식육(숯불구이)', '전통찻집', '까페', '감성주점', '탕류(보신용)',
       '라이브카페', '기타 휴게음식점', '출장조리', nan, '냉면집', '이동조리', '일반조리판매', '회집',
       '다방', '룸살롱', '식품제조가공업', '식품등 수입판매업', '제과점영업', '커피숍', '식품소분업',
       '간이주점', '도매업(유통)'], dtype=object)

In [173]:
upt1_cafe = data1.loc[data1.UPTAENM == upt1[19], :]
upt1_cafe = upt1_cafe.drop(columns="Unnamed: 0")
upt1_cafe = upt1_cafe.reset_index(drop=True)
upt1_cafe

,APVPERMYMD,TRDSTATEGBN,TRDSTATENM,DCBYMD,SITEAREA,RDNWHLADDR,BPLCNM,UPTAENM,X,Y
0,20110701,3,폐업,20201222.0,54.80,"서울특별시 노원구 석계로13길 35, 102호 (월계동, 세양청마루아파트상가)",카페 베니스상인,까페,205286.091901,457599.372496
1,20060801,3,폐업,20201222.0,102.00,"서울특별시 마포구 와우산로21길 19-16 (서교동,5층)",리틀테라스,까페,193084.368980,449952.905425
2,20050225,3,폐업,20201222.0,79.00,"서울특별시 마포구 와우산로21길 20-10 (서교동, 1층)",무궁반점 홍대점,까페,193124.018793,450056.877941
3,20140429,1,영업/정상,NaN,65.98,"서울특별시 용산구 이태원로54길 74, 1층 (한남동)",이톨로지,까페,200016.548354,448111.955857
4,20150331,1,영업/정상,NaN,15.63,"서울특별시 종로구 명륜길 46, 1층 (명륜3가)",버블고래,까페,199474.703712,454089.442341
...,...,...,...,...,...,...,...,...,...,...
7926,20100527,1,영업/정상,NaN,142.50,"서울특별시 서초구 사평대로 106, 1층 (반포동)",마켓 비노플라워,까페,199590.363874,444073.778900
7927,20091029,1,영업/정상,NaN,62.00,서울특별시 서초구 바우뫼로41길 88 (양재동),까페원더,까페,203460.560267,442461.603930
7928,19841006,3,폐업,20200608.0,15.84,서울특별시 광진구 긴고랑로 106 (중곡동),탈랜트,까페,207610.954662,450813.117867
7929,20081219,3,폐업,20200608.0,415.59,"서울특별시 마포구 양화로12길 24 (서교동,지1층)",핑크홀,까페,192725.215076,449952.756553
7930,20131220,1,영업/정상,NaN,66.84,"서울특별시 종로구 북촌로 137, 1,2층 (삼청동)",크래프트카페(래경공방),까페,198425.702259,453887.623326

In [174]:
upt1_coffeeshop = data1.loc[data1.UPTAENM == upt1[35], :]
upt1_coffeeshop = upt1_coffeeshop.drop(columns="Unnamed: 0")
upt1_coffeeshop = upt1_coffeeshop.reset_index(drop=True)
upt1_coffeeshop

,APVPERMYMD,TRDSTATEGBN,TRDSTATENM,DCBYMD,SITEAREA,RDNWHLADDR,BPLCNM,UPTAENM,X,Y
0,20131001,1,영업/정상,NaN,42.03,"서울특별시 서초구 강남대로53길 7, 101호 (서초동, 강남애니타워)",HAPPY Beans(해피빈스),커피숍,202427.025843,443561.162608
1,20050810,3,폐업,20140326.0,20.39,"서울특별시 동대문구 천호대로 15 (신설동,(하정로17))",델리뉴스(신설동점),커피숍,202159.285360,452509.350893
2,20020125,1,영업/정상,NaN,14.95,"서울특별시 중구 퇴계로27길 48 (초동, 1층)",혜윰,커피숍,199166.232435,451237.737732
3,20090407,3,폐업,20120618.0,NaN,"서울특별시 종로구 창덕궁1길 42 (계동,(지상1층))",더블컵커피,커피숍,198768.502046,453014.014098
4,20001205,1,영업/정상,NaN,66.00,"서울특별시 서초구 언남7길 4 (양재동,한선빌딩 1층)",메차쿠차,커피숍,203658.211681,441215.660138

In [175]:
cfdata = pd.concat([upt2_coffeeshop,upt1_coffeeshop,upt1_cafe])

In [176]:
cfdata = cfdata.reset_index(drop=True)

In [177]:
date = pd.to_datetime(cfdata['DCBYMD'],format='%Y%m%d')
opdate = pd.to_datetime(cfdata['APVPERMYMD'],format='%Y%m%d')
cfdata['DCBYMD'] = date
cfdata['APVPERMYMD'] = opdate
cfdata

,APVPERMYMD,TRDSTATEGBN,TRDSTATENM,DCBYMD,SITEAREA,RDNWHLADDR,BPLCNM,UPTAENM,X,Y
0,2014-10-22,1,영업/정상,NaT,34.00,"서울특별시 용산구 원효로 268, 지상1층 101호 (원효로1가)",카페맑음,커피숍,197308.865165,448745.657721
1,2011-03-14,1,영업/정상,NaT,74.50,"서울특별시 금천구 남부순환로 1428, 101호 (독산동,지오프라자)",더치앤빈 신림푸르지오점,커피숍,191911.448935,442043.878228
2,2010-12-13,3,폐업,2020-12-04,103.52,"서울특별시 서초구 신반포로47길 124, 1층 (잠원동, 근생빌딩 B동 )",(주)엑스커피 (탐앤탐스 신사1호점),커피숍,201591.604136,445934.693594
3,2020-12-04,1,영업/정상,NaT,28.94,"서울특별시 서초구 강남대로 455, 지하1층 B121호 (서초동, 강남태영데시앙루브)",CAFE HO,커피숍,202100.548019,444515.155344
4,2020-12-04,1,영업/정상,NaT,36.30,"서울특별시 영등포구 여의나루로 42, 여의도종합상가 1층 104호 (여의도동)",브루다 여의도역,커피숍,193306.330044,446582.782311
...,...,...,...,...,...,...,...,...,...,...
34703,2010-05-27,1,영업/정상,NaT,142.50,"서울특별시 서초구 사평대로 106, 1층 (반포동)",마켓 비노플라워,까페,199590.363874,444073.778900
34704,2009-10-29,1,영업/정상,NaT,62.00,서울특별시 서초구 바우뫼로41길 88 (양재동),까페원더,까페,203460.560267,442461.603930
34705,1984-10-06,3,폐업,2020-06-08,15.84,서울특별시 광진구 긴고랑로 106 (중곡동),탈랜트,까페,207610.954662,450813.117867
34706,2008-12-19,3,폐업,2020-06-08,415.59,"서울특별시 마포구 양화로12길 24 (서교동,지1층)",핑크홀,까페,192725.215076,449952.756553
34707,2013-12-20,1,영업/정상,NaT,66.84,"서울특별시 종로구 북촌로 137, 1,2층 (삼청동)",크래프트카페(래경공방),까페,198425.702259,453887.623326

In [182]:
cfdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34708 entries, 0 to 34707
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   APVPERMYMD   34708 non-null  datetime64[ns]
 1   TRDSTATEGBN  34708 non-null  int64
 2   TRDSTATENM   34708 non-null  object
 3   DCBYMD       18525 non-null  datetime64[ns]
 4   SITEAREA     32668 non-null  object
 5   RDNWHLADDR   30656 non-null  object
 6   BPLCNM       34708 non-null  object
 7   UPTAENM      34708 non-null  object
 8   X            34279 non-null  float64
 9   Y            34279 non-null  float64
dtypes: datetime64[ns](2), float64(2), int64(1), object(5)
memory usage: 2.6+ MB

In [183]:
cfdata.to_csv('./data/cfdata.csv')

In [180]:
cfdata.groupby('TRDSTATENM').BPLCNM.count()

TRDSTATENM
영업/정상    16183
폐업       18525
Name: BPLCNM, dtype: int64

In [181]:
cfdata.columns

Index(['APVPERMYMD', 'TRDSTATEGBN', 'TRDSTATENM', 'DCBYMD', 'SITEAREA',
       'RDNWHLADDR', 'BPLCNM', 'UPTAENM', 'X', 'Y'],
      dtype='object')

In [209]:
cl_after2017 = cfdata[cfdata.DCBYMD.dt.year > 2016].reset_index(drop=True)
op_after2017= cfdata[cfdata.APVPERMYMD.dt.year > 2016].reset_index(drop=True)
after2017 = pd.merge(cl_after2017,op_after2017)
after2017

,APVPERMYMD,TRDSTATEGBN,TRDSTATENM,DCBYMD,SITEAREA,RDNWHLADDR,BPLCNM,UPTAENM,X,Y
0,2020-12-04,3,폐업,2020-12-10,NaN,"서울특별시 중구 소공로 63, 지하1층 (충무로1가)",브이카페 신세계명동점,커피숍,198263.908392,450960.762965
1,2020-11-26,3,폐업,2020-12-07,NaN,"서울특별시 강남구 영동대로 513, 코엑스 1층 A홀 (삼성동)",아러바우트-한시적,커피숍,205130.591679,445590.096838
2,2020-08-24,3,폐업,2020-12-07,28.16,"서울특별시 동대문구 한천로46길 42, 예신프라자 1층 105호 (장안동)",까레트(Carette),커피숍,206176.178626,453248.097246
3,2020-07-09,3,폐업,2020-12-07,19.83,"서울특별시 강동구 진황도로 179, 1층 102호 (둔촌동)",설렘,커피숍,212564.660855,447560.771617
4,2019-12-02,3,폐업,2020-12-07,170.11,"서울특별시 강남구 봉은사로18길 60, 지상1층 (역삼동)",나우언더스탠딩(NOW UNDERSTANDING),커피숍,202422.652622,444506.603068
...,...,...,...,...,...,...,...,...,...,...
2884,2019-05-29,3,폐업,2020-12-14,54.64,"서울특별시 종로구 삼봉로 71, G타워 1층 103호 (수송동)",쉬즈베이글 종로점,커피숍,198260.063191,452262.484573
2885,2017-08-08,3,폐업,2020-12-29,209.58,"서울특별시 관악구 난곡로 192, 1, 2층 (신림동)",커피나무 난곡점,커피숍,192827.141855,441110.113733
2886,2017-01-31,3,폐업,2020-12-29,23.00,"서울특별시 양천구 목동동로10길 19, 지상1층 (신정동)",희와래커피로스터스2호점,커피숍,188592.095475,446354.160121
2887,2017-06-23,3,폐업,2019-04-19,64.22,"서울특별시 강남구 테헤란로27길 30, 지상1층 (역삼동)",카페씨플랙,까페,203246.776210,444576.225078
2888,2017-11-09,3,폐업,2020-02-18,29.74,"서울특별시 마포구 동교로9길 76, 1층 (망원동)",숍,까페,191847.199238,450522.825274

In [211]:
np.count_nonzero(after2017['APVPERMYMD'].isnull())

0